<div class="player-card card_legend">
    <video class="card-bg" autoplay muted loop playsinline>
        <source src="/static/videos/legend.mp4" type="video/mp4">
    </video>

    <div class="card-header">
        {% if joueur.external_club %}
        <img class="club-logo" src="{{ joueur.club_logo }}">
        {% endif %}
    </div>

    <div class="card-avatar">
        <img src="{{ joueur.photo }}">
    </div>

    <div class="card-stats">
        <span>Duel: {{ joueur.duel }}</span>
        <span>Goals: {{ joueur.goal }}</span>
        <span>Matchs: {{ joueur.matches }}</span>
    </div>

</div>
<style>
    .players-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 220px);
        gap: 20px;
        justify-content: center;
    }

    .player-card {
        position: relative;
        width: 350px;
        height: 350px;
        border-radius: 12px;
        overflow: hidden;
        color: black;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .player-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
    }

    .player-card h3 {
        color: #8b6f17;
    }

    /* ANCHOR vidéo ou image de fond */
    /* LEGEND */
    .card_legend .card-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        border-radius: 12px;
    }

    .card_legend .card-header {
        position: relative;
        z-index: 1;
        margin-top: 60px;
    }

    .card-avatar {
        position: relative;
        z-index: 1;
        margin: 10px auto;
        width: 180px;
        /* height: 180px; */
        border-radius: 50%;
        overflow: hidden;
        /* border: 2px solid gold; */
    }

    .card-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-stats {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        font-size: 1.3em;
        margin-top: 15px;
        color: #8b6f17;
    }


    .card-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background: rgba(255, 215, 0, 0.8);
        font-weight: bold;
        z-index: 2;
        animation: glow 1.5s infinite alternate;
    }

    @keyframes glow {
        from {
            box-shadow: 0 0 5px gold;
        }

        to {
            box-shadow: 0 0 20px gold;
        }
    }
</style>