<div class="player-card card_goal">

    <video class="card-bg" autoplay muted loop playsinline>
        <source src="/static/videos/goal.mp4" type="video/mp4">
    </video>
    <div class="fire"></div>

    <div class="card-avatar">
        <img src="{{ joueur.photo }}">
    </div>

    <div class="card-stats">
        <span>Duel : {{ joueur.duel }}</span>
        <span>Goals : {{ joueur.goal }}</span>
        <span>Matchs : {{ joueur.matches }}</span>
    </div>

</div>

<style>
    .card_goal .card-bg {
        position: absolute;
        top: -17px;
        left: -27px;
        /* right: 0; */
        bottom: 0;
        width: 120%;
        height: 110%;
        object-fit: cover;
        z-index: 0;
        border-radius: 12px;
    }

    .card_goal .card-header {
        position: relative;
        z-index: 1;
        margin-top: 80px;
    }

    .card_goal {
        position: relative;
        animation: fireGlow 2s infinite alternate;
        width: 286px;
        height: 350px;
    }

    @keyframes fireGlow {
        0% {
            box-shadow:
                0 0 10px rgba(255, 80, 0, 0.6),
                0 0 20px rgba(255, 100, 0, 0.6),
                0 0 30px rgba(255, 120, 0, 0.5);
        }

        50% {
            box-shadow:
                0 0 20px rgba(255, 120, 0, 0.8),
                0 0 40px rgba(255, 140, 0, 0.8),
                0 0 60px rgba(255, 180, 0, 0.7);
        }

        100% {
            box-shadow:
                0 0 15px rgba(255, 60, 0, 0.7),
                0 0 30px rgba(255, 90, 0, 0.7),
                0 0 50px rgba(255, 140, 0, 0.6);
        }

    }

    .fire {
        position: absolute;
        inset: -20%;
        z-index: 1;
        pointer-events: none;

        background: radial-gradient(circle at 50% 100%,
                rgba(255, 120, 0, 0.6),
                rgba(255, 60, 0, 0.4),
                transparent 70%);

        mix-blend-mode: screen;

        animation: fireMove 3s infinite ease-in-out;
    }

    .card_goal::after {
        content: "";
        position: absolute;
        inset: 0;
        background: orange;
        opacity: 0;
        pointer-events: none;

        animation: fireFlash 3s infinite;
    }

    @keyframes fireFlash {

        0%,
        90%,
        100% {
            opacity: 0;
        }

        92% {
            opacity: 0.4;
        }

        94% {
            opacity: 0;
        }
    }
</style>