body {
    margin: 0;
    font-family: Arial;
}

/*ANCHOR  BARRE DU MENU */

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#1e3b5c, #0f243d);
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 10px;
}

/* BOUTONS */
.btn {
    background: linear-gradient(#3b5d87, #223a5c);
    padding: 10px 16px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        0 3px 6px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.btn:hover {
    background: linear-gradient(#4c76a8, #2d4c73);
    transform: translateY(-2px);
}

/* ANCHOR CSS ULTRA FUT PLAYER */
.fut-card {
    position: relative;
    width: 280px;
    font-family: Arial;
    text-align: center;
    color: black;
}

.card-bg {
    width: 100%;
    display: block;
}

.rating {
    position: absolute;
    top: 35px;
    left: 40px;
    font-size: 42px;
    font-weight: bold;
    color: #222;
}

.player-photo {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
}

.player-name {
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    font-size: 22px;
    font-weight: bold;
}

/* STATS */
.stats {
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    font-size: 14px;
}

.stat span {
    display: block;
    font-size: 12px;
}
