body{

background:#0b0b0b;

color:white;

font-family:Arial;

text-align:center;

}

.card{

background:#1c1c1c;

width:320px;

margin:20px auto;

padding:20px;

border-radius:12px;

box-shadow:0 0 10px #00ff9c;

}

button{

background:#00ff9c;

border:none;

padding:10px 20px;

font-weight:bold;

border-radius:6px;

cursor:pointer;

}

table{

width:80%;

margin:auto;

border-collapse:collapse;

}

td,th{

padding:10px;

border-bottom:1px solid #333;

}

.rank1{

color:gold;

font-size:22px;

}

.rank2{

color:silver;

}

.rank3{

color:#cd7f32;

}