<!-- templates/cards_ext/card_larchamp.html -->
<a href="{{ url_for('player', id=joueur.id) }}" class="player-card-link">

    <div class="player-card card_larchamp" style="height: 440px;">

        {% if joueur.card_video %}
        <video class="card-bg" autoplay muted loop playsinline>
            <source src="{{ joueur.card_video }}" type="video/mp4">
        </video>
        {% else %}
        <div class="card-bg" style="background-image: url('/static/img/cards_ext/card_Larchamp.png'); top:0;"></div>
        {% endif %}

        <div class="card-header">
            {% if joueur.club_logo %}
            <img class="club-logo" src="/static/img/logo/logo_Larchamp.png">
            {% endif %}
        </div>

        <div class="card-avatar">
            <img src="{{ joueur.photo }}">
        </div>
        <!-- ✅ NOM DU JOUEUR -->
        <div class="card-name">
            {{ joueur.name }}
        </div>
        <div class="card-stats" style="color: white;">
            <span>Duel: {{ joueur.duel }}</span>
            <span>Goals: {{ joueur.goal }}</span>
            <span>Matchs: {{ joueur.matches }}</span>
        </div>
    </div>
</a>
<style>
    /* ==== CARD LARCHAMP ==== */
    .player-card.card_larchamp:hover {
        box-shadow: 0 0 25px #94a3ba;
    }

    /* Avatar joueur */
    .player-card.card_larchamp .card-avatar {
        position: relative;
        z-index: 1;
        margin: 10px auto;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
    }

    .player-card.card_larchamp .card-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>