{% extends "base.html" %}

{% block content %}

<h1>Modifier joueur</h1>

<div class="form-grid">

    <!-- PREVIEW CARTE -->
    <div class="card-preview">

        <div class="player-card" id="player_card">

            <img id="card_bg" class="card-bg" src="{{ player.card_background or '/static/img/cards/bronze.png' }}">

            <img id="photo_preview" class="player-photo" src="{{ player.photo or '/static/img/default.png' }}">

            <div class="player-name" id="player_name_preview">
                {{ player.name }}
            </div>

        </div>

    </div>


    <!-- FORMULAIRE -->
    <div>

        <form method="POST" enctype="multipart/form-data">

            <label>Nom du joueur</label>
            <input type="text" name="name" id="player_name_input" value="{{ player.name }}">

            <label>Mail</label>
            <input type="email" name="mail" value="{{ player.mail or '' }}" placeholder="mail@exemple.com">

            <label>Sexe</label>
            <select name="sexe">

                <option value="M" {% if player.sexe=='M' %}selected{% endif %}>
                    Masculin
                </option>

                <option value="F" {% if player.sexe=='F' %}selected{% endif %}>
                    Féminin
                </option>

            </select>


            <div class="checkbox-group">
                <label>
                    <input type="checkbox" name="interclub" {% if player.interclub %}checked{% endif %}>
                    Interclub
                </label>

                <label>
                    <input type="checkbox" name="atelier_duel" id="atelierDuelCheckbox" {% if player.atelier_duel
                        %}checked{% endif %}>
                    Duel
                </label>

                <label>
                    <input type="checkbox" name="atelier_goal" id="atelierGoalCheckbox" {% if player.atelier_goal
                        %}checked{% endif %}>
                    Goal
                </label>
                <label>
                    <input type="checkbox" name="actif" {% if player.actif %}checked{% endif %}>
                    Actif
                </label>
                <label>
                    <input type="checkbox" name="chbb" {% if player.chbb %}checked{% endif %}>
                    CHBB
                </label>
                <label><input type="checkbox" name="force_team_b" value="1" {% if player.force_team_b %}checked{% endif
                        %}><strong>Forcer équipe B</strong></label>
            </div>
            <label>Photo joueur</label>
            <input type="file" name="photo" id="photo_input">


            <button class="btn-add">💾 Sauvegarder</button>

        </form>

    </div>

</div>

<!--------------------- S C R I P T ----------------------->

<script>
    // preview photo
    document.getElementById("photo_input").addEventListener("change", function (e) {

        const file = e.target.files[0]

        if (file) {

            document.getElementById("photo_preview").src =
                URL.createObjectURL(file)

        }

    })



    // preview nom
    document.getElementById("player_name_input").addEventListener("input", function () {

        document.getElementById("player_name_preview").innerText =
            this.value || "Nom joueur"

    })


    function updateCardPreview() {
        const sexe = document.querySelector('[name="sexe"]').value
        const interclub = document.querySelector('[name="interclub"]').checked
        const actif = document.querySelector('[name="actif"]').checked

        let bg = "/static/img/cards/bronze.png"

        if (sexe === "F") {
            bg = "/static/img/cards/rose.png"
        }
        else if (!actif) {
            bg = "/static/img/cards/ancien.png"
        }
        else if (interclub) {
            bg = "/static/img/cards/argent.png"
        }

        document.getElementById("card_bg").src = bg
    }



    document.querySelector('[name="sexe"]').addEventListener("change", updateCardPreview)
    document.querySelector('[name="interclub"]').addEventListener("change", updateCardPreview)
    document.querySelector('[name="actif"]').addEventListener("change", updateCardPreview)

    updateCardPreview()

</script>

{% endblock %}
