{% extends "base.html" %}

{% block content %}
<div class="container-teams">

    <h1 class="teams-title">ÉQUIPE INTERCLUB</h1>

    <div class="power-bar">

        <div class="power teamA-power">
            TEAM A POWER :
            <b>
                {% set totalA = teamA | sum(attribute='duel') + teamA | sum(attribute='goal') %}
                {{ totalA }}
            </b>
        </div>

        <div class="power teamB-power">
            TEAM B POWER :
            <b>
                {% set totalB = teamB | sum(attribute='duel') + teamB | sum(attribute='goal') %}
                {{ totalB }}
            </b>
        </div>

    </div>


    <div class="arena">

        <!-- TEAM A -->

        <div class="team-column team-a slide-left">

            <h2>🔥 ÉQUIPE A</h2>

            <table class="team-table">

                <tr>

                    {% for p in teamA %}

                    <td>

                        <a href="/player/{{ p.id }}" class="player-link">

                            <div class="fifa-card">
                                <img src="/static/img/cards/gold.png" class="card-bg">
                                <div class="rank">#{{ loop.index }}</div>
                                <img src="{{ p.photo }}" class="player-photo">
                                <div class="player-name">
                                    {{ p.name }}
                                </div>
                                <div class="stats">
                                    <div class="stat">
                                        <span>Duel: {{ p.duel }} pts</span>
                                    </div>
                                    <div class="stat">
                                        <span>Goal: {{ p.goal }} pts</span>
                                    </div>
                                    <div class="stat">
                                        <span>Gagner: {{ p.wins }}</span>
                                    </div>
                                    <div class="stat">
                                        <span>Perdu : {{ p.losses }}</span>
                                    </div>
                                </div>
                                <div class="points">
                                    {{ p.duel + p.goal }} pts
                                </div>
                                <div class="block glow"></div>
                            </div>
                        </a>
                    </td>

                    {% endfor %}

                </tr>

            </table>

        </div>


        <!-- TEAM B -->

        <div class="team-column team-b slide-right">

            <h2>⚡ ÉQUIPE B</h2>

            <table class="team-table">

                <tr>

                    {% for p in teamB[:8] %}

                    <td>

                        <a href="/player/{{ p.id }}" class="player-link">

                            <div class="fifa-card">

                                <img src="/static/img/cards/argent.png" class="card-bg">

                                <div class="rank">#{{ loop.index }}</div>

                                <img src="{{ p.photo }}" class="player-photo">

                                <div class="player-name">{{ p.name }}</div>

                                <div class="stats">

                                    <div class="stat">
                                        <span>Duel: {{ p.duel }} pts</span>
                                    </div>

                                    <div class="stat">
                                        <span>Goal: {{ p.goal }} pts</span>
                                    </div>

                                    <div class="stat">
                                        <span>Gagner: {{ p.wins }}</span>
                                    </div>
                                    <div class="stat">
                                        <span>Perdu: {{ p.losses }}</span>
                                    </div>

                                </div>

                                <div class="points">
                                    {{ p.duel + p.goal }} pts
                                </div>
                            </div>

                        </a>

                    </td>

                    {% endfor %}

                </tr>

            </table>

        </div>

    </div>
</div>

{% endblock %}