{% extends "base.html" %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap" rel="stylesheet">
<div class="main-grid">

    <!-- ================= COLONNE GAUCHE ================= -->
    <div class="left-column">

        <!-- ================= DASHBOARD ================= -->
        <div class="dashboard-grid">

            <!-- ================= DUEL ================= -->
            <div class="ranking-box">
                <h3>CLASSEMENT DUEL</h3>

                <!-- Top 3 -->
                <table class="ranking-table top-ranking">
                    <thead>
                        <tr>
                            <th class="classement">N°</th>
                            <th>Joueur</th>
                            <th class="nbrMatchs">Matchs</th>
                            <th class="points">Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in duel[:3] %}
                        <tr
                            class="{% if loop.index == 1 %}medal-gold{% elif loop.index == 2 %}medal-silver{% elif loop.index == 3 %}medal-bronze{% endif %}">
                            <td class="classement">{{ loop.index }}</td>
                            <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                            <td class="nbrMatchs">{{ p.matches }}</td>
                            <td class="points">{{ p.duel }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Scrollable part -->
                <div class="ranking-window">
                    <div class="scroll-wrapper">
                        <table class="ranking-table scroll-ranking">
                            <tbody>
                                {% for p in duel[3:] %}
                                <tr>
                                    <td class="classement">{{ loop.index + 3 }}</td>
                                    <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                                    <td class="nbrMatchs">{{ p.matches }}</td>
                                    <td class="points">{{ p.duel }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- ================= GOAL ================= -->
            <div class="ranking-box">
                <h3>CLASSEMENT GOAL vs GOAL</h3>

                <table class="ranking-table top-ranking">
                    <thead>
                        <tr>
                            <th class="classement">N°</th>
                            <th>Joueur</th>
                            <th class="nbrMatchs">Matchs</th>
                            <th class="points">Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in goal[:3] %}
                        <tr
                            class="{% if loop.index == 1 %}medal-gold{% elif loop.index == 2 %}medal-silver{% elif loop.index == 3 %}medal-bronze{% endif %}">
                            <td class="classement">{{ loop.index }}</td>
                            <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                            <td class="nbrMatchs">{{ p.matches }}</td>
                            <td class="points">{{ p.goal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="ranking-window">
                    <div class="scroll-wrapper">
                        <table class="ranking-table scroll-ranking">
                            <tbody>
                                {% for p in goal[3:] %}
                                <tr>
                                    <td class="classement">{{ loop.index + 3 }}</td>
                                    <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                                    <td class="nbrMatchs">{{ p.matches }}</td>
                                    <td class="points">{{ p.goal }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- ================= ELO ================= -->
            <div class="ranking-box">
                <h3>CLASSEMENT ELO</h3>

                <table class="ranking-table top-ranking">
                    <thead>
                        <tr>
                            <th class="classement">N°</th>
                            <th>Joueur</th>
                            <th class="nbrMatchs">Matchs</th>
                            <th class="points">Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in duel[:3] %}
                        <tr
                            class="{% if loop.index == 1 %}medal-gold{% elif loop.index == 2 %}medal-silver{% elif loop.index == 3 %}medal-bronze{% endif %}">
                            <td class="classement">{{ loop.index }}</td>
                            <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                            <td class="nbrMatchs">{{ p.matches }}</td>
                            <td class="points">{{ p.wins - p.losses }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="ranking-window">
                    <div class="scroll-wrapper">
                        <table class="ranking-table scroll-ranking">
                            <tbody>
                                {% for p in duel[3:] %}
                                <tr>
                                    <td class="classement">{{ loop.index + 3 }}</td>
                                    <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                                    <td class="nbrMatchs">{{ p.matches }}</td>
                                    <td class="points">{{ p.wins - p.losses }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- ================= CLASSEMENT TOTAL ================= -->
            <div class="ranking-box">
                <h3>CLASSEMENT TOTAL</h3>

                <table class="ranking-table top-ranking">
                    <thead>
                        <tr>
                            <th class="classement">N°</th>
                            <th>Joueur</th>
                            <th class="nbrMatchs">Matchs</th>
                            <th class="points">Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in classement_club[:3] %}
                        <tr
                            class="{% if loop.index == 1 %}medal-gold{% elif loop.index == 2 %}medal-silver{% elif loop.index == 3 %}medal-bronze{% endif %}">
                            <td class="classement">{{ loop.index }}</td>
                            <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                            <td class="nbrMatchs">{{ p.matches }}</td>
                            <td class="points">{{ p.duel + p.goal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="ranking-window">
                    <div class="scroll-wrapper">
                        <table class="ranking-table scroll-ranking">
                            <tbody>
                                {% for p in classement_club[3:] %}
                                <tr>
                                    <td class="classement">{{ loop.index + 3 }}</td>
                                    <td class="player"><img src="{{ p.photo }}"><span>{{ p.name }}</span></td>
                                    <td class="nbrMatchs">{{ p.matches }}</td>
                                    <td class="points">{{ p.duel + p.goal }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <!-- ================= HISTORIQUE ================= -->
        <div class="history-global">
            <div class="history-container">
                <div class="history-box duel">
                    <div class="history-window">
                        <div class="history-title duel">DUEL</div>
                        <table>
                            <tbody id="duelHistory"></tbody>
                        </table>
                    </div>
                </div>

                <div class="history-box goal">
                    <div class="history-window">
                        <div class="history-title goal">GOAL</div>
                        <table>
                            <tbody id="goalHistory"></tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end history-container -->
        </div>

        <!-- ================= GRAPHIQUE ================= -->
        <div class="chart-container">
            <canvas id="playersChart"></canvas>
        </div>
    </div> <!-- end left-column -->


    <!-- ================= COLONNE DROITE ================= -->
    <div class="podium">

        <!-- LEGENDAIRE -->
        <h3 class="title-section legend">Légendaire</h3>
        <div class="players-grid">
            <div class="podium-card">
                {% set joueur = legend %}
                {% include "cards/card_legend.html" %}
            </div>
        </div>

        <!-- DUEL -->
        <h3 class="title-section duel">Duel</h3>
        <div class="players-grid">
            <div class="podium-card">
                {% set joueur = meilleur_buteur %}
                {% include "cards/card_buteur.html" %}
            </div>
        </div>

        <!-- GOAL -->
        <h3 class="title-section goal">Goal</h3>
        <div class="players-grid">
            <div class="podium-card">
                {% set joueur = meilleur_goal %}
                {% include "cards/card_goal.html" %}
            </div>
        </div>

    </div> <!-- end podium -->

</div> <!-- end main-grid -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const DATA = {
    labels: {{ labels | tojson | safe }},
    players: {{ graph_data | tojson | safe }}
};

// ===== DEBUG =====
console.log("=== DEBUG JOUEURS ===");

DATA.players.forEach(player => {
    console.log(
        player.name,
        "→ matchs joués:", player.matchs,
        "→ points:", player.data.length,
        "→ dernier ELO:", player.data[player.data.length - 1]
    );
});

console.log("Labels (matchs):", DATA.labels.length);

// ===== PRELOAD IMAGES =====
const images = {};

DATA.players.forEach(player => {
    const img = new Image();
    img.src = player.photo;
    images[player.name] = img;
});

// ===== CONTEXT =====
const ctx = document.getElementById('playersChart').getContext('2d');

// ===== AVATAR PLUGIN =====
const avatarPlugin = {
    id: 'avatarPlugin',
    afterDatasetsDraw(chart) {
        const { ctx } = chart;

        chart.data.datasets.forEach((dataset, i) => {
            const meta = chart.getDatasetMeta(i);
            const lastPoint = meta.data[meta.data.length - 1];

            if (!lastPoint) return;

            const x = lastPoint.x + 2; // léger décalage à droite
            const y = lastPoint.y;

            const player = DATA.players[i];
            const img = images[player.name];

            if (!img) return;

            const size = 50; // taille de l'avatar
            
            ctx.save();
            
            ctx.shadowColor = "#00eaff";
            ctx.shadowBlur = 10;
            
            ctx.beginPath();
            
            const colors = ["#FFD700", "#C0C0C0", "#CD7F32"]; // or, argent, bronze
            ctx.lineWidth = 3;
            ctx.strokeStyle = colors[i] || "#00eaff";
            ctx.stroke();
            ctx.arc(x, y, size / 2, 0, Math.PI * 2);
            ctx.closePath();
            ctx.clip();

            // 🔥 couvrir le cercle sans déformer (object-fit: cover)
            const scale = Math.max(size / img.width, size / img.height);
            const w = img.width * scale;
            const h = img.height * scale;

            ctx.drawImage(
                img,
                x - w / 2,
                y - h / 2,
                w,
                h
            );
            ctx.restore();
        });
    }
};

// ===== DATASETS =====
const datasets = DATA.players.map((player) => ({
    label: player.name,
    data: player.data,
    borderWidth: 2,
    tension: 0.3
}));

// ===== CHART =====
const playersChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: DATA.labels,
        datasets: DATA.players.map((player, index) => ({
            label: player.name,
            data: player.data,
            borderWidth: 2,
            tension: 0.4
        }))
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                    display: false
            }
        },
        elements: {
            point: {
                radius: 0
            }
        },
        scales: {
            x: {
                // display: false
                ticks: { color: "#FFF" }
 
            },
            y: {
                ticks: { color: "#FFF" }
            }
        }
    },

    // 👇 ICI EXACTEMENT
    plugins: [avatarPlugin]

});

</script>
<script>
    const matchesDuel = {{ matches_duel | tojson }}
    const matchesGoal = {{ matches_goal | tojson }};
</script>

<style>
    /* Bloquer le scroll global pour la borne */
    html,
    body {
        overflow: hidden;
        height: 100%;
        touch-action: none;
        /* si écran tactile */
        user-select: none;
        /* empêcher sélection accidentelle */
    }
</style>
{% endblock %}
