{% extends "base.html" %}

{% block content %}

<div class="podium">

<div class="podium-player second">

<h3>🥈</h3>
<p id="p2-name"></p>

</div>

<div class="podium-player first">

<h3>🥇</h3>
<p id="p1-name"></p>

</div>

<div class="podium-player third">

<h3>🥉</h3>
<p id="p3-name"></p>

</div>

</div>

<div class="dashboard-grid">

<!-- ================= DUEL ================= -->

<div class="ranking-box">

<h2>CLASSEMENT DUEL</h2>

<!-- HEADER FIXE -->

<table class="ranking-table">
<thead>
<tr>
<th>N°</th>
<th>Joueur</th>
<th>Matchs</th>
<th>Pts</th>
</tr>
</thead>
</table>

<!-- ZONE SCROLL -->

<div class="ranking-window">

<table class="ranking-table scroll-ranking">

<tbody>

{% for p in duel %}

<tr>

<td>{{loop.index}}</td>

<td class="player">
<img src="{{p.photo}}">
{{p.name}}
</td>

<td>{{p.matches}}</td>

<td class="points">{{p.duel}}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>


<!-- ================= GOAL ================= -->

<div class="ranking-box">

<h2>CLASSEMENT GOAL vs GOAL</h2>

<!-- HEADER FIXE -->

<table class="ranking-table">
<thead>
<tr>
<th>N°</th>
<th>Joueur</th>
<th>Matchs</th>
<th>Pts</th>
</tr>
</thead>
</table>

<!-- ZONE SCROLL -->

<div class="ranking-window">

<table class="ranking-table scroll-ranking">

<tbody>

{% for p in duel %}

<tr>

<td>{{loop.index}}</td>

<td class="player">
<img src="{{p.photo}}">
{{p.name}}
</td>

<td>{{p.matches}}</td>

<td class="points">{{p.goal}}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>


<!-- ================= ELO ================= -->

<div class="ranking-box">
    
    <h2>CLASSEMENT ELO</h2>
    
    <!-- HEADER FIXE -->
    
    <table class="ranking-table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Joueur</th>
                <th>Matchs</th>
                <th>Pts</th>
            </tr>
        </thead>
    </table>
    
    <!-- ZONE SCROLL -->
    
    <div class="ranking-window">
        
        <table class="ranking-table scroll-ranking">
            
            <tbody>
                
                {% for p in duel %}
                
                <tr>
                    
                    <td>{{loop.index}}</td>
                    
                    <td class="player">
                        <img src="{{p.photo}}">
                        {{p.name}}
                    </td>
                    
                    <td>{{p.matches}}</td>
                    
                    <td class="points">{{p.wins - p.losses}}</td>
                    
                </tr>
                
                {% endfor %}
                
            </tbody>
            
        </table>
        
    </div>
    
</div>
</div>
</div>

<!-- tableau historique des rencontres -->

<div class="history-container">

    <div class="history-box">
        <div class="history-title">DUEL</div>

        <div class="history-window">
            <table>
                <tbody id="duelHistory"></tbody>
            </table>
        </div>
    </div>

    <div class="history-box">
        <div class="history-title">GOAL vs GOAL</div>

        <div class="history-window">
            <table>
                <tbody id="goalHistory"></tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
