{% extends "base.html" %}

{% block content %}

<div class="podium">


    <div class="players-grid">
        {% for joueur in interclub_actifs %}
        {% if joueur.id == legend.id %}
        {% include "cards/card_legend.html" %}
        {% elif joueur.id == meilleur_buteur.id %}
        {% include "cards/card_buteur.html" %}
        {% elif joueur.id == meilleur_goal.id %}
        {% include "cards/card_goal.html" %}
        {% else %}
        {% include "cards/card_generic.html" %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="dashboard-grid">

    <!-- ================= DUEL ================= -->

    <div class="ranking-box">

        <h2>CLASSEMENT DUEL</h2>

        <!-- HEADER FIXE -->

        <table class="ranking-table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Joueur</th>
                    <th>Matchs</th>
                    <th>Pts</th>
                </tr>
            </thead>
        </table>

        <!-- ZONE SCROLL -->

        <div class="ranking-window">

            <table class="ranking-table scroll-ranking">

                <tbody>

                    {% for p in duel %}

                    <tr>

                        <td>{{loop.index}}</td>

                        <td class="player">
                            <img src="{{p.photo}}">
                            {{p.name}}
                        </td>

                        <td>{{p.matches}}</td>

                        <td class="points">{{p.duel}}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>


    <!-- ================= GOAL ================= -->

    <div class="ranking-box">

        <h2>CLASSEMENT GOAL vs GOAL</h2>

        <!-- HEADER FIXE -->

        <table class="ranking-table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Joueur</th>
                    <th>Matchs</th>
                    <th>Pts</th>
                </tr>
            </thead>
        </table>

        <!-- ZONE SCROLL -->

        <div class="ranking-window">

            <table class="ranking-table scroll-ranking">

                <tbody>

                    {% for p in duel %}

                    <tr>

                        <td>{{loop.index}}</td>

                        <td class="player">
                            <img src="{{p.photo}}">
                            {{p.name}}
                        </td>

                        <td>{{p.matches}}</td>

                        <td class="points">{{p.goal}}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>


    <!-- ================= ELO ================= -->

    <div class="ranking-box">

        <h2>CLASSEMENT ELO</h2>

        <!-- HEADER FIXE -->

        <table class="ranking-table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Joueur</th>
                    <th>Matchs</th>
                    <th>Pts</th>
                </tr>
            </thead>
        </table>

        <!-- ZONE SCROLL -->

        <div class="ranking-window">

            <table class="ranking-table scroll-ranking">

                <tbody>

                    {% for p in duel %}

                    <tr>

                        <td>{{loop.index}}</td>

                        <td class="player">
                            <img src="{{p.photo}}">
                            {{p.name}}
                        </td>

                        <td>{{p.matches}}</td>

                        <td class="points">{{p.wins - p.losses}}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>
</div>
</div>

<!-- tableau historique des rencontres -->

<div class="history-container">

    <div class="history-box">
        <div class="history-title">DUEL</div>

        <div class="history-window">
            <table>
                <tbody id="duelHistory"></tbody>
            </table>
        </div>
    </div>

    <div class="history-box">
        <div class="history-title">GOAL vs GOAL</div>

        <div class="history-window">
            <table>
                <tbody id="goalHistory"></tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}